<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>News</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="fragments/header :: defaultheader"></div>

<div th:each="el : ${news}">
  <h2 th:text="${el.title}"></h2>
  <h3 th:text="${el.author}"></h3>
  <p th:text="${el.views}"></p>
</div>

<form method="get" action="/news/search">
  <input type="text" name="title" id="title">
  <input type="submit" value="Найти">
</form>

<a href="/news/add" class="btn btn-primary">Добавить новость</a>

</body>
</html>